<!DOCTYPE HTML>
<!--
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>About Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/index">Helene L Sajer</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/capstone">Capstone</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/capstone">
											<h3>Capstone</h3>
										</a>
									</li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">
						<!-- Intro -->
						<section id="intro">
							<header>
								<h2>Helene L Sajer</h2>
								<p>Fall 2016 Fellow at The Data Incubator</p>
							</header>
						</section>

						<!-- Post -->
						<a name="about_me"></a>
							<article class="post">
								
								<div style="width: 100%;overflow:auto;">
									<div class="image featured" style="float:left; width:35%;margin: 0 3em 3em 0;">
									<img src="static/images/PortraitLowRes.jpg" alt="" />
									</div>
										<div class="title">
										<h2>Hello</h2>
										</div>
										<p>
											My name is Helene Sajer and I am currently a Fellow at The Data Incubator.
											After completing my MS in Financial Math at The University of Chicago, I worked in a hedge
										fund in Minneapolis to help build the company’s first top-down systematic risk management system.
										My main responsibilities included writing some of the pricing models in C#, building reports for investors
										and internal clients, and managing our team’s junior analyst.  The experience of working to
										institutionalize our risk management system helped me discover a passion for using analytics to shape strategic decisions.
										I recently left that role to move back to the East Coast and find a position that would
										focus on on analytics and data science in a business facing context.   My other main interest besides mathematics
										is foreign languages and cultures. I studied Chinese and Spanish for several years and lived in
										China for a year during college.  I really love the idea of observing culture through data, and then finding innovative
										business applications for that insight.  That might mean looking at consumer purchase decisions and coming up with
										a new product idea, or looking at a company’s internal data to understand the behavior of the employees,
										and having that inform the organizational design.</p>
									</div>

							</article>
					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/helene-sajer-56518a53" class="fa-linkedin"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/helelily" class="fa-github"><span class="label">Facebook</span></a></li>
							<li><a href="mailto:hsajer@gmail.com" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; 2016.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>